<!DOCTYPE html>

<!-- 
Copyright 2016 the project authors as listed in the AUTHORS file.
All rights reserved. Use of this source code is governed by the
license that can be found in the LICENSE file.
-->

<html>
  <head>
    <title><DASHBOARD TITLE></title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket
      var pageObject;
      <PAGES>
      var showPage = function(page) {
        for (var i = 0; i < pages.length; i++) {
          pageObject = document.getElementById(pages[i]);
          pageObject.style.display = 'none';
        }
        pageObject = document.getElementById(page);
        pageObject.style.display = 'inline';

        if (page == 'dockerWrapper') {
          var page = document.getElementById('docker');
          page.innerHTML = 'fetching docker list';
          console.log('sent dockerListRequest');
          socket.emit('dockerListRequest', 'test');
        }
      }

      var saveDockerList = function() {
        var counter = 0;
        var dockerList = new Array();
        while(true) {
          var entry = document.getElementById('docker' + counter);
          if ((entry !== undefined) && (entry !== null)) {
            if (entry.checked) {
              dockerList.push(entry.value);
            }
            counter++;
          } else {
            break;
          }
        }
        socket.emit('dockerListSave', dockerList);
      }

      window.onload = function() {
        var eventLog = document.getElementById('eventLog');
        eventLog.style.display = 'none';

        socket = new io.connect('<URL_TYPE>://' + window.location.host);
        socket.on('eventLog', function(line) {
          var eventLog = document.getElementById('eventLog');
          eventLog.innerHTML = line + '<br>' + eventLog.innerHTML;
        });
        socket.on('clearLog', function(line) {
          var eventLog = document.getElementById('eventLog');
          eventLog.innerHTML = '';
        });

        socket.on('dockerList', function(dockerList) {
          var dockerpage = document.getElementById('docker');
          dockerpage.innerHTML = dockerList;
        });

      }
    </script>
  </head>

  <body>
    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
       <tr><td><table cellpadding="0" cellspacing="0" id="buttons"><BUTTONS></table></td></tr>
       <tr><td><table cellpadding="0" cellspacing="0" id="frames"><FRAMES></table></td></tr> 
    </table>
  <body>
</html>
